
body {
	font-family: 'Lora', serif;
}


ul {
    list-style-type: none;
}

ul.b {
    list-style-type: square;
}

li {
	display : inline-block;
	padding : 0.8em;
}

a {
    font-size: 1.2em;
    text-decoration: none;
}

a:hover {
	color:white;
	background-color: dodgerblue;
}

pre {
	font-family:'Fira Mono', monospace;
	font-size: 0.8em;
	box-shadow:0px 0px 10px #333333;
	margin: auto;
	white-space: pre-wrap;                 /* CSS3 browsers  */
	white-space: -moz-pre-wrap !important; /* 1999+ Mozilla  */
	white-space: -pre-wrap;                /* Opera 4 thru 6 */
	white-space: -o-pre-wrap;              /* Opera 7 and up */
	word-wrap: break-word;                 /* IE 5.5+ and up */
	color : indigo;
	padding: 1em;
}

p {
	padding: 1em;

}


h1 {
	padding-left: 2em;
	padding-bottom: 2em;
	padding-top: 2em;
	font-size: 1em;
	color : black;
}


.content {
		max-width:50%;
		margin: auto;
		padding-top: 1%;
		padding-bottom: 2%;

}

.nav {
		max-width:50%;
		margin: auto;
		text-align: center;
		padding-top: 2%;
		padding-bottom: 1%;
}

.footer {
		max-width:50%;
		margin: auto;
		margin-bottom: 2%;
		margin-top: 5%;
		text-align: center;
		font-size: 0.8rem;
}


@media screen and (max-width: 1000px) {
    

.content {
		max-width:90%;
		margin: auto;
		padding-top: 1%;
		padding-bottom: 2%;

}

.nav {
		max-width:90%;
		margin: auto;
		text-align: center;
		padding-top: 2%;
		padding-bottom: 1%;
}

.footer {
		max-width:90%;
		margin: auto;
		margin-bottom: 2%;
		margin-top: 5%;
		text-align: center;
		font-size: 0.8rem;
}
}
