
body {
    font-family: sans-serif;
}


ul {
    list-style-type: none;
}

li {
	display : inline;
}

a {
    font-family: sans-serif;
    font-size: 1rem;
}

a:hover {
	color:white;
	background-color: indigo;
}

pre {
	font-family: monospace;
	margin: auto;
	white-space: pre-wrap;                 /* CSS3 browsers  */
	white-space: -moz-pre-wrap !important; /* 1999+ Mozilla  */
	white-space: -pre-wrap;                /* Opera 4 thru 6 */
	white-space: -o-pre-wrap;              /* Opera 7 and up */
	word-wrap: break-word;                 /* IE 5.5+ and up */
	background-color : azure;
	color : indigo;
	padding: 1rem;
}

p {
	padding: 1rem;

}

h3 {
	padding-left: 2rem;
}

h1 {
	padding-left: 2rem;
	font-size: 1.2em;
	color : black;
}
.content {
		width: 800px;
		margin: auto;
		padding-top: 1%;
		padding-bottom: 2%;

}

.nav {
		width: 800px;
		margin: auto;
		text-align: center;
		padding-top: 2%;
		padding-bottom: 1%;
}

.footer {
		margin: auto;
		margin-bottom: 2%;
		margin-top: 5%;
		text-align: center;
		font-size: 0.8rem;
}

